@import url('https://fonts.googleapis.com/css?family=Mansalva|Ubuntu&display=swap');
:root{
    --color-nav: rgb(29, 134, 141);
    --color-lighter: rgb(48, 182, 192);
    --color-worm: rgb(65, 65, 65);
}
html{
    height: 100%;
}
.navbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;

    display: grid;
    grid-template-columns: 33.3% 33.4% 33.3%;
}
.navbar a.active {
    background-color: #4CAF50;
    color: white;
}
.navbar a {
    width: 100%;
    height: 100%;

    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

body{
    background-color: var(--color-worm);
    height: 100%;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    color: #212529;
    text-align: left;

    font-family: 'Ubuntu';
}
*{
    box-sizing: border-box;
    padding: 0;
}
.head{
    background-color: var(--color-nav);
    width: 100%;
    height: 60px;

    color: white;

    display: inline-block;
}
.head > h1{
    margin: 0;
    margin-top: 5px;
    font-weight: 500;
    line-height: 1.2;
    font-size: 40px;
    font-family: 'Mansalva', cursive;

    text-align: center;
}
.progress{
    background-color: var(--color-lighter);
    width: 100%;
    height: 3px;

    position: absolute;
    top: 60px;

    z-index: 3;
}
.progress.hide{
    display: none;
}

.input{
    width: 100%;
    height: 48%;
}
.input::after{
    background-image: linear-gradient(rgba(0, 0, 0, 0) 60%, var(--color-worm) 90%);
    width: 100%;
    height: 48%;
    content: '';

    position: absolute;
    top: 60px;
}
body.empty .input::after{
    display: none;
}

.input-wrapper{
    background-color: var(--color-lighter);
    width: 100px;
    height: 100px;

    border: none;
    border-radius: 100%;

    position: absolute;
    top: 40%;
    right: 5%;

    z-index: 5;

    transition: transform .5s, top .5s, right .5s;
}

body.empty .input-wrapper{
    transform: translateX(50%) translateY(-50%) scale(1.5);

    top: 50%;
    right: 50%;
}

input.img-button{
    width: 100%;
    height: 100%;

    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;

    font-weight: 400;
    color: white;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    opacity: 0;
}
.input-wrapper i{
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;

    color: white;
    font-size: 50px;

    position: absolute;
    top: 50%;
    left: 50%;
}

.img-preview{
    background-image: var(--bg-image);
    width: 100%;
    height: 100%;

    overflow: hidden;

    border: none;

    position: relative;
}
body.empty .img-preview{
    visibility: hidden;
}

.img-preview > *{
    width: 100%;
    height: 100%;
}

.worm{
    width: 100%;
    height: 8%;

    top: 30%;
}
.bookmark{
    background-image: linear-gradient( -45deg, var(--color-lighter) 90%, rgba(0, 0, 0, 0) 90%),
    linear-gradient(-135deg, var(--color-lighter) 90%, rgba(0, 0, 0, 0) 90%);
    width: 80%;
    height: 50%;
    transform-origin: right;

    margin-left: 20%;

    position: relative;
    top: 25%;

    transition: transform .5s;
}
body.empty .bookmark{
    transform: scaleX(0);
}

.loading{
    width: 100%;
    min-height: calc(44% - 60px);
    max-height: max-content;

    position: absolute;
    top: calc(56% + 60px);

    color: white;
    text-align: center;
}
body.empty .loading, .loading.hide{
    display: none;
}

.text-area{
    transform-origin: bottom;

    min-height: calc(44% - 60px);
    max-height: max-content;
    padding: 30px;

    transition: transform .5s;
}
.text-area.hide{
    visibility: hidden;
}
body.empty .text-area{
    transform: scaleY(0);
}

.text-area > div{
    height: 100%;
}
p {
    margin: 0;

    color: var(--color-lighter);

    position: relative;
    top: 50%;
}
textarea{
    width: 100%;
    background-color: skyblue;
    resize: none;
}
h3{
    color: white;
}